NUXT_PUBLIC_API_BASE=http://localhost:3000/api
NUXT_PUBLIC_WS_BASE=ws://localhost:3000

# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
